@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* 기본 폰트 */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

header {
  padding-top: env(safe-area-inset-top);
}

/* SB Aggro */
@font-face {
  font-family: "SB Aggro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-sbaggro {
  font-family: "SB Aggro", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.booth-scale {
  transform-origin: top center;
  transition: transform 0.3s ease;
}

/* 미디어쿼리설정 */

/* iPhone 14 Pro, Galaxy S */
@media (max-height: 820px) {
  .booth-scale {
    transform: scale(0.8);
  }
}

/* iPhone 13 / 14 */
@media (max-height: 740px) {
  .booth-scale {
    transform: scale(0.7);
  }
}

/* iPhone SE */
@media (max-height: 670px) {
  .booth-scale {
    transform: scale(0.6);
  }
}
