@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* 기본 폰트 */
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

header {
  padding-top: env(safe-area-inset-top);
}

/* SB Aggro */
@font-face {
  font-family: "SB Aggro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-sbaggro {
  font-family: "SB Aggro", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.booth-scale {
  transform-origin: top center;
  transition: transform 0.3s ease;
}

/* 미디어쿼리설정 */

/* iPhone SE (1세대), 매우 작은 Android */
@media (max-height: 570px) {
  .booth-scale {
    transform: scale(0.6);
  }
}

/* iPhone SE 2/3 (667px) */
@media (max-height: 670px) {
  .booth-scale {
    transform: scale(0.68);
  }
}

/* Galaxy S8~S10, iPhone 8 Plus */
@media (max-height: 720px) {
  .booth-scale {
    transform: scale(0.76);
  }
}

/* iPhone 12 mini (780px) */
@media (max-height: 780px) {
  .booth-scale {
    transform: scale(0.82);
  }
}

/* iPhone 12 / 13 / 14 / 15 */
@media (max-height: 850px) {
  .booth-scale {
    transform: scale(0.9);
  }
}

/* iPhone 14 Pro / 15 Pro / Galaxy S23 */
@media (max-height: 900px) {
  .booth-scale {
    transform: scale(0.96);
  }
}

/* Pro Max / Plus / Ultra */
@media (max-height: 950px) {
  .booth-scale {
    transform: scale(1);
  }
}
